* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFF;
}

.body {
    background-color: #000000;
    width: 100%;
    height: 330vh;
}

.img {
    width: 100px;
}

.icon {
    padding-left: 5px;
    display: inline;
}

.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    align-items: center;
}

.h1 {
    font-family: sans-serif;
    font-size: 20px
}

input {
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    background-color: #000509;
}

.input {
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    margin-left: 650px;
    border-radius: 5px;
}

.line {
    border-left: 1px solid white;
    height: 20px;
    margin-left: 5px;
}

.paragraph {
    margin-left: 0px;
    border: 1px solid white;
    border-radius: 5px;
    width: 30px;
}

.icon1 {
    border: 1px solid white;
    border-radius: 5px;
    width: 25px;
    margin-left: 10px;
    height: 20px;
}

.img1 {
    border-radius: 50%;
    width: 40px;
}

.img-1 {
    border-radius: 50%;
    width: 40px;
    margin-top: 15px;
    margin-left: 50px;
}

p {
    font-family: sans-serif;
}

.main {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-01 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img-2 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img-3 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img-4 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img-5 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img-6 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.img-7 {
    border-radius: 50%;
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

.azzan-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.azzan-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.azzan-3 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.azzan-4 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.azzan-5 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.azzan-6 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.azzan-7 {
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
    outline: none;
    border: none;
    margin-left: 10px;
}

.inp {
    background-color: #0C1017;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
}

.main-1 {
    background-color: #0C1017;
    width: 500px;
    height: 70vh;
    margin-left: 30px;
    margin-top: 50px;
}

main {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* .main-3{
    display: flex;
    align-items: center;
}*/

h1 {
    font-family: sans-serif;
}

.h2 {
    margin-top: 10px;
    margin-left: 5px;
}

.kashan {
    color: blue;
    margin-right: 10px;
}

.arshad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-02 {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-left: 5px;
}

.rub {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pagal {
    background-color: #121B23;
    width: 430px;
    margin-top: 10px;
    height: 280px;
    margin-left: 30px;
}

h2 {
    font-family: sans-serif;
    margin-top: 3px;
    margin-left: 3px;
}

.p-01 {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    background-color: #121B23;
}
.azzan{
    background-color: #0C1017;
    width: 400px;
    height: 78vh;
}